{% extends "base.html" %}

{% block content %}
    <h1>Flask</h1>
    <p>Hello, {{ current_user.username }}</p>

    {% if post_form %}
    <form action="{{ url_for('index') }}" method="post">
        {{ post_form.hidden_tag() }}
        <p>
            {{ post_form.post.label }}<br>
            {{ post_form.post(cols=32, rows=4) }}<br>
            {% for error in post_form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ post_form.submit() }}</p>
    </form>
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
